.tableWrapper {
	display: grid;
	grid-template-columns: repeat(6, minmax(40px, 90px));
	grid-template-rows: repeat(6, minmax(40px, 90px)) minmax(1fr, auto);
	grid-gap: 0.1vw;
}

.game-field {
  background-color: orange;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: green;
  color: white;
  font-size: 24pt;
  text-align: center;
}
.button-place {
	grid-column: 1/7;
	grid-row: 7/8;
}



.miss {
  background-color: red;
  text-align: center;
  color: white;
  font-size: 16pt;
}
/* #button-reload { */
	/* display: none; */
/* } */
/* #button-start { */
	/* display: block; */
/* } */

.invisible {
display: none;	
}

.visible {
	display: block;
}


